

html,body,#app,.container{
    height: 100%;
}
body{
    background:#fff url(https://raw.githubusercontent.com/wushi91/qhdata/master/src/static/images/sea_duck.jpg) no-repeat left top;

}

.container{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    padding:0px 25px;
    margin-top: 20px;
    margin-bottom:20px;
    height: 60px;
    background-color: rgba(255,255,255,0.5);
}

.action{
    line-height: 60px;
    width: 50%;
    float: left;
}

.setting{
    line-height: 60px;
    width: 50%;
    float: right;
}

.area{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /*margin-right: 20px;*/
    /*margin-left: 20px;*/
}

.input-area{
    padding-right: 5px;
    flex-grow:1;

}

.result-area{
    padding-left: 5px;
    flex-grow:1;
}

.el-textarea.is-disabled .el-textarea__inner{
    color: #003366;
}


.el-textarea,textarea{
    height: 100%;
}



